<div class="post-card">
  <a href="#">
    <div class="post-card-header">
      <h3>{{title}}</h3>
      <h4>Posted by
        {{user.username}}
        on
        {{format_date createdAt}}</h4>
    </div>
  </a>
  <div class="post-card-body">
    <p>
      {{description}}
    </p>
  </div>
</div>