<div class="post-card">
  <div class="post-card-header"></div>
  <div class="post-card-body">
    <p>{{description}}</p>

    <p>- Comment by {{user.username}}, {{format_date createdAt}}</p>
  </div>
</div>