<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-links">
          <h1>Home</h1>
          <h1>Dashboard</h1>
          <h1>Logout</h1>
        </div>
        {{!-- <h2 class="blog-header">The Tech Blog</h2>
      </nav>
    </header> --}}
    {{!-- <main> --}}
      {{{body}}}
    </main>
  </body>
</html>